header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
}

.logo img {
    max-height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 30px;
}

nav li {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #E72A5D; /* Pink color */
}

.nav-link.active {
    color: #E72A5D;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
